/*Login*/
.panel-login {
    border-color: orange;
}

.panel-heading-login {
    background-color: orange;
    color: white;
}

.panel-body-login {
    background-color: lightblue;
}

.btn-primary-login {
    background-color: orange;
    border-color: orange;
}